jupyter

gdown

chex==0.1.7
orbax-checkpoint==0.1.4
jax[cuda12_pip]==0.4.6
#jaxlib==0.4.6+cuda11.cudnn82 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
optax==0.1.7
git+https://github.com/openai/CLIP.git

ftfy
regex
tqdm
fvcore
imageio==2.4.1
imageio-ffmpeg==0.4.5
pybullet
moviepy
flax==0.5.3
openai
easydict
imageio-ffmpeg

opencv-python
tensorflow[and-cuda]
torch
torchvision
torchaudio
protobuf==3.20.0
Pillow==9.5.0
